/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(135deg, #125FE1, #48B1F3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #6C63FF;
  margin-bottom: 2rem;
}



/* Input Group */
.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.input-group i {
  margin-right: 0.5rem;
  color: #6C63FF;
}

.input-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.input-group input:focus {
  border-color: #6C63FF;
  outline: none;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

/* Button */
.login-btn {
  background: #6C63FF;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition:  0.3s;
}

.login-btn:hover {
  background: #514CC4;
}

.signup-text {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup-text a {
  color: #6C63FF;
  text-decoration: none;
  font-weight: 600;
}

.signup-text a:hover {
  text-decoration: underline;
}
